.App {
  height: 100vh;
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-content {
  justify-self: center;
  align-self: center;
  height: 100%;
}

.page-title {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}

.view-container {
  height: fit-content;
  width: 60rem;
  position: relative;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.more-info {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.separator {
  width: 15rem;
  background-color: rgb(41, 121, 1);
  height: 0.35rem;
  margin: 0 auto;
  margin-top: 0.75rem;
}

.button-container > button {
  outline: solid 1px rgb(126, 220, 246);
  padding: 0.5rem;
  width: 5rem;
  background-color: rgb(205, 243, 254);
  border: none;
}

.button-container > button:hover {
  background-color: rgb(112, 185, 80);
  outline: 1px solid rgb(41, 121, 1);
  cursor: pointer;
  border: none;
}

.button-container > button:disabled {
  background-color: rgb(112, 185, 80);
  outline: 1px solid rgb(41, 121, 1);
  cursor: pointer;
  color: black;
  cursor: default;
  border: none;
}